<footer style="background-color: #1E90FF; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Save your ideas</p>
            </div>
            <div class="offset-md-3 col-md-2">
                <p>StoryIdeas</p>
            </div>
            <div class="offset-md-3 col-md-2">
                <p>© Rexhino Idrizaj</p>
            </div>

        </div>
    </div>

</footer>