<div class="jumbotron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Jot ideas for your future Stories</p>
    <a style="background-color: #1E90FF; color:white;" class="btn btn-larg" href="/ideas/add">Add Story Idea</a>
</div>