<div class="jumbotron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Jot ideas for your future Stories</p>
    <a class="btn btn-dark btn-larg" href="/ideas/add">Add Story Idea</a>
</div>